@import 'https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900';
@import url('https://fonts.googleapis.com/css?family=Kanit:300');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Caveat');
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Kanit', sans-serif;
}
h1,h2,h3,h4,h5,h6,span{
  font-family: 'Kanit', sans-serif;
}
.sticon-text{
    font-family: 'Kanit', sans-serif !important;
}
.jq-toast-heading{
  font-family: 'Kanit', sans-serif !important;
}
.jq-toast-single{
  font-family: 'Kanit', sans-serif !important;
}
.paginate_button.current{
  background: #bdbdbd !important;
  border: solid #9e9e9e .5px !important;
}
.select2-arrow{
  display: none !important;
}
#list_wk{
  display: none;
}
#create_new_wk{
  display: none;
}
.clockpicker-popover{
  z-index: 9999 !important;
}
.has-warning .btn{
  border: solid 1px #fbc02d;
}
.boss-text{
  color: #999;
  font-style: italic;
}
.site-form tr td{
    border:none !important;
}
.num-step{
  background: #ef5350;
  color:#fff;
  padding: 1px 8px;
  border-radius:50px;
}
.tabs-txt{
  font-family: 'Kanit', sans-serif !important;
}
.content-wrap section{
  padding:25px !important;
}
.tabs-progress .col-md-12{
  padding:0px 30px !important;
}
.map{
  width: 100%;
  height: 300px;
  box-shadow: 0px 1px 3px rgba(0,0,0,.5);
}
.site_tabs li:hover{
  cursor: pointer;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #ef5350;
  border-radius: 3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  border: 3px solid #fff;
  box-shadow: 0px 1px 3px rgba(0,0,0,.5);
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #ef5350;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ef5350;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #ef5350;
  border-radius: 10px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #ef5350;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #ef5350;
  border: 0.2px solid #010101;
  border-radius: 3px;
}
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ef5350;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ef5350;
}
.pac-container{
    z-index: 9999999999;
}
.date-working{
   padding:6px 10px;
   text-align: center;
   font-size: .7em;
}
.date-working.tw{
   padding:6px 8px;
}
.date-working.active{
    border: solid 2px #e57373;
    /* background:#e57373; */
    color: #e57373;
    border-radius: 50px
}
.dataTables_filter{
 text-align: left !important;
}
.dataTables_filter input{
  border-radius: 5px !important;
  padding: 5px 10px!important;

}
.dataTables_length{
   margin-top: 5px !important;
   text-align: left !important;
}
.dataTables_length select{
  background: #fff !important;
}
.vtabs{
  width: 100% !important;
}
#tabSite{
  width: 15% !important;
}
#tabSite_content{
  width: 85% !important;
  padding: 2.5px 20px !important;
}
.beRequest{
  display: none;
}
.tabs-style-circle nav ul li:hover{
  cursor: pointer;
}
.block-note{
  text-align: left;
  background: #fff3e0;
  border-radius: 5px;
  border: solid 1.25px #ffe0b2;
  color:rgba(0,0,0,.5)
}
.block-note ul{
  margin-left: 20px;
}
.block-note ul li{
  font-weight:10 !important;
}
.label-position-ot{
  margin-right: 5px !important;
}
.label-position-ot a{
  color: rgba(0,0,0,.3);
  cursor: pointer;
}
.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
google-visualization-orgchart-table tr td.google-visualization-orgchart-node-medium{

}
.google-visualization-orgchart-node{
 background: #ff8a80 !important;
 color:#fff;
 font-size:  .8em;
 box-shadow: 0px 1px 2px rgba(0,0,0,.5) !important;
 padding: 5px;
 border-radius: 10px !important;
 text-overflow: ellipsis;
 overflow: hidden;
 white-space:nowrap;
  border:none !important;
 font-family: 'Kanit', sans-serif !important;
}
.google-visualization-orgchart-linebottom{
  border-bottom:  solid 3px #ef5350 !important;
 z-index: -10 !important;

}
.google-visualization-orgchart-lineleft{
 border-left:  solid 3px #ef5350 !important;
 z-index: -10 !important;
}
.google-visualization-orgchart-lineright{
 z-index: -10 !important;
 border-right:  solid 3px #ef5350 !important;
}
.tab-designation{
 margin-top: 60px;
 padding-top:0px !important;
 margin-bottom: 40px;
}
.container-chart{
 width: 100%;
 height: 200%;
 padding:5% ;
 overflow: auto;
 box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
 border: dashed 1.5px rgba(0, 0, 0, 0.4);
 background: #fff;
}
.container-chart#detail{
 height: 300px;
}
.btn_print {
    opacity:0.7;
box-shadow: 3px 3px 5px 3px rgba(10, 10,10, .1);
}
.btn_print:hover  {
  opacity: 1;
}
.btn_print span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn_print span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn_print:hover span {
  padding-right: 25px;
}

.btn_print:hover span:after {
  opacity: 1;
  right: 0;
}
